.Homepage {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-evenly;
}

.textdiv {
  width: 35%;
  height: 520px;
  flex-direction: column;
  display: flex;
  justify-content: space-evenly;
}

.buttondiv {
  display: flex;
  justify-content: space-around;
  margin-left: -48px;
}

.linkText {
  margin-top: 8px;
  margin-left: -64px;
}
